{% extends "base.html" %}
{% block title %}Sensor Data{% endblock %}
{% block head_element %}{% endblock %}
{% block content %}
<br>
<div class="container">
    {% if live %}
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link {% if active == 'temperature' %}active{% endif %}" href="/sensor_data/live/temperature">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 'humidity' %}active{% endif %}" href="/sensor_data/live/humidity">Link</a>
        </li>
    </ul>
    {% else %}
    <ul class="nav nav-tabs justify-content-center">
        <li class="nav-item">
          <a class="nav-link {% if active == 'temperature' %}active{% endif %}" href="/sensor_data/temperature">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if active == 'humidity' %}active{% endif %}" href="/sensor_data/humidity">Link</a>
        </li>
    </ul>
    {% endif %}
    <br>

    <div>
        <canvas id="chart1"></canvas>
    </div>

    <script>
        {% if live %}

        live_request();

        function live_request(){
            href = '/charts/live/' + '{{ href }}';
            var data = requestData(href);
            //request data and display
            setTimeout(function(){requestData(href)}, 2000);
        }

        {% else %}

        request(false);

        const labels = [];
        const series = [];

        const data = {
            labels: labels,
            datasets: [{
                label: 'temperatures',
                data: series,
                borderWidth: 1
            }]
        };

        const config = {
            type: 'bar',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        };

        const myChart = new Chart(
            document.getElementById('chart1'),
            config
        );

        function request(chartCreated){
            if(chartCreated == false){
                href = '/charts/' + '{{ href }}' + '/20';
                var data = requestData(href);
                var tm = data.done(function(resp){
                    for (const time in resp.time) {
                        if (resp.time.hasOwnProperty(time)) {
                            labels.push(resp.time[time]);
                        }
                    }
                    for (const data in resp.data) {
                        if (resp.data.hasOwnProperty(data)) {
                            series.push(resp.data[data]);
                        }
                    }
                    myChart.update();
                });
            }
            else{
                href = '/charts/' + '{{ href }}' + '/1';
                var data = requestData(href);
                var tm = data.done(function(resp){
                    for (const time in resp.time) {
                        if (resp.time.hasOwnProperty(time)) {
                            labels.shift()
                            labels.push(resp.time[time]);
                        }
                    }
                    for (const data in resp.data) {
                        if (resp.data.hasOwnProperty(data)) {
                            series.shift()
                            series.push(resp.data[data]);
                        }
                    }
                    myChart.update();
                });
            }
            setTimeout(function(){request(true)}, 60000);
        } 
        
        {% endif %}
        
        function requestData(href) {
            var data = $.get(href);
            return data;
        }
        
    </script>
</div>
{% endblock %}